<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <div class="copyright ">&copy <%= year %>, CSE 340 App</div>
  <a href="/inv/cause-error">Error Link</a> <!-- MQ3 link to trigger error -->
</footer>


