<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
<body>
    <div id="wrapper">   
        <main>
         <%- body %>
        </main> 
    </div>
</body>
</html>