
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="background-page">
  

    <!-- Main Content Heading -->
   
        <% if (title) { %>
            <h1 class="error-title"><%= title %></h1>
        <% } else { %>
            <h1 class="error-title">Error</h1>
        <% } %>

        <!-- Message Block -->
        <p class="error-message"><%- message %></p>

     

   
</body>
</html>

